 * { box-sizing: border-box; }

body {

 
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: darkred;
}


/* HEADER */  
ul {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
}

li {
    text-align: left;

}