 /* GLOBAL */
 
 
 
 * { box-sizing: border-box; }

body {

 
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: darkgoldenrod;
}


/* HEADER */  
header {
   background: lightskyblue;
   color: orange;
   padding: 1em 2em;

}

header a {
    color: darkred;

}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}



/* SITE ID */
.site-id h1 {
    margin:0;
}


/* NAV */
nav ul {
    display: flex;
    justify-content: flec-end;
    margin: 0;
    padding-top: .6em;
}

nav li {
    margin: 0;
    list-style: none;
}






























