 /* GLOBAL */
 
 
 
 * { box-sizing: border-box; }

body {

    
        
      
    margin: 0;
    
}

a {
    text-decoration: none;
    color: darkgoldenrod;
}


/* HEADER */  
header {
   background: black;
   color: salmon;
   padding: 1em 2em;
   font-family: 'Oleo Script', cursive;
}

header a {
    color:limegreen;

}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}




/* SITE ID */
.site-id h1 {
    margin:0;
}


/* NAV */
nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding-top: .6em;
}

nav li {
    margin: 0;
    list-style: none;
}

nav a {
    display: block;
    padding: 1em;
}

/* MAIN */
main {
    padding: 0 0 3em 0;
    min-height: 80vh;
}

/* SECTIONS */
section {
    padding: 3em 1em;
}

/* FOOTER */
footer {
    border-top: 1px solid rgb(109, 4, 4);
    max-width: 1000px;
    margin: 0 auto;
}
footer nav ul {
    justify-content: center;
}

/* HERO */
.hero {
    display: grid;
    align-content: center;
    text-align: center;
    min-height: 50vh;
    color: rgb(219, 0, 0);
    font-family: 'Pacifico', cursive;
}
.hero h2 {
    font-size: 3em;
    text-transform: uppercase;
    margin: 0 auto;
}

.hero p {
margin: 1em auto;
}

.hero h2 span:nth-child(6) { color: rgb(255, 0, 0); }
.hero h2 span:nth-child(5) { color: rgb(224, 64, 64); }
.hero h2 span:nth-child(4) { color: rgb(238, 106, 106); }
.hero h2 span:nth-child(3) { color: rgb(230, 150, 150); }    
.hero h2 span:nth-child(2) { color: rgb(231, 185, 185); }   
.hero h2 span:nth-child(1) { color: rgb(255, 255, 255); }

.page-home .hero{
    background-image: url('https://picsum.photos/id/28/1500/450');
    background-position: bottom right;
    background-size: cover;
}
.page-about .hero{
    background-image: url('https://picsum.photos/id/48/1500/450');
    background-size: cover;
}

.page-blog .hero {
    background-image: url('https://picsum.photos/id/1042/1500/450');
    background-position: center top;
    background-size: cover;
}

/* LISTS */
.lists {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
}

@media (max-width:767px) {
    .lists {
        grid-template-columns: 1fr 1fr;
    }
}


    

/* BLOG Archives */

.blog-archives {
    max-width: 600px;
    margin: 0 auto;
}

.blog-entry {
    border: 1px solid #ddd;
    padding: 2em;
    margin: 2em 0;
}

.date {
    opacity: .5;
    font-size: .8em;
}

























